<% if (post.download || post.sourcecode){ %>
  <header class="article-header">
    <% if (post.download){ %>
      <a href="<%- post.download %>" style="padding: 2em; "><i class="fa fa-cloud-download fa-5x" title="Download"></i></a>
    <% } %>
    <% if (post.sourcecode){ %>
      <% if (post.sourcetype == 'g'){ %>
        <a href="<%- post.sourcecode %>"><i class="fa fa-github fa-5x" title="Fork at Github repository"></i></a>
      <% } %>
      <% if (post.sourcetype == 'b'){ %>
        <a href="<%- post.sourcecode %>"><i class="fa fa-bitbucket fa-5x" title="Source is available at this Bitbucket repository"></i></a>
      <% } %>
    <% } %>
  </header>
<% } %>
