.admonition {
  padding: 0 5px;
  margin-bottom: 10px;
  margin-left: 2.5em;
  border: 1px solid transparent;
  border-left: 4px solid;
  border-radius: 1px;
  text-align: left;
}

.admonition-title {
  font-weight: bold;
  text-align: left;
}

.admonition.note,
.admonition.info,
.admonition.tips {
  color: #1d6fa5;
  background-color: #a0cfee;
  border-color: #3498db;
}

.admonition.warning,
.admonition.warn,
.admonition.important {
  color: #a85913;
  background-color: #f3c195;
  border-color: #e67e22;
}

.admonition.danger,
.admonition.critical {
  color: #bf2718;
  background-color: #f5b4ae;
  border-color: #e74c3c;
}

.recents {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header-outer {
  height: initial;
}

#banner {
  background: center #000;
}
