<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="widget-wrap">
<h3 class="widget-title"><a class="widget-title" href="/archives">Author</a></h3>

<div class="widget LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="prbuddha"><a class="LI-simple-link" href='https://in.linkedin.com/in/prbuddha?trk=profile-badge'>Buddha Jyothiprasad</a></div>
</div>

